*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-dark);
  font-family: "Montserrat", sans-serif;
}

.link {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.8rem;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

/* линия */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: var(--assent);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* hover */
.link:hover {
  color: var(
    --assent
  ); /* если не хочешь исчезновение — можешь оставить var(--white) */
}

.link:hover::after {
  transform: scaleX(1);
}
.p1 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-light);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.p2 {
  color:var(--text-light);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.5rem; /* 125% */
}
.h1 {
  color:var(--text-light);
  font-family: "Cormorant Garamond", serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 7.5rem */
  text-align: center;
}
.container-header-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--bg-dark);
}
.banner {
  display: flex;
  padding: 2.5rem 3.75rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.banner-adress {
  display: flex;
  width: 32.8125rem;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}
.adress-text {
  color: var(--white);
}
.adress,
.phone-icon {
  display: flex;
  gap: 0.75rem;
}
.header-nav {
  display: flex;
  padding: 1.25rem 3.75rem;
  justify-content: center;
  align-items: center;
  gap: 40.75rem;
  align-self: stretch;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  flex: 1 0 0;
}
/* скрываем мобильное меню по умолчанию */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  width: 100%;
  height: 100vh;
  background: var(--bg-dark);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 5rem 2rem 2rem;
}

.mobile-menu.active {
  right: 0;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.burger-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

/* активное состояние */
.mobile-menu.active {
  right: 0;
}

/* крестик */
.burger-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
}

.burger {
  display: none;
}
.main-container {
  display: flex;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.section-hero {
  display: flex;
 gap: 1rem;
  
  max-width: 1440px;
  width: 100%;
  padding: 2.5rem 3.75rem;
  align-items: flex-start;
  align-self: stretch;
  margin: 0 auto;
 justify-content: flex-start;
}


.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: 0.3rem;

  flex: 1;

}
 .section-img{
  display: flex;
  flex: 1;
   background-image: url("../img/hero-img.webp");
   background-size: cover;
  background-position: center;
height:28rem;


 } 
.grup {
  display: flex;
  justify-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.wrap-btn {
  display: flex;
  margin-top: 12rem;
  gap: 1.25rem;
  align-items: center;
  justify-self: center;
  justify-content:flex-start;

  align-self: stretch;
}
.btn {
  display: flex;
  width: 16.75rem;
  height: 2.75rem;
  padding: 0.5rem 1.125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: none;
}
.primary {
  background-color: var(--assent);
  color: var(--text-dark);
  font-family: "Cormorant Garamond", serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.8rem;
  text-transform: uppercase;
}
.second {
  background-color: var(--bg-dark);
  color: var(--assent);
  font-family: "Cormorant Garamond", serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.8rem;
  text-transform: uppercase;
  border: 0.5px solid var(--assent-opacity-35);
}

.section{
display: flex;
padding: 2.5rem 3.75rem;

max-width: 1440px;
width: 100%;
margin: 0 auto;
}
.flex-container{
  display: flex;
  flex-direction:row;
justify-content:center;
align-items: center;
align-content: center;
gap: 3.75rem;
align-self: stretch;
flex-wrap: wrap;
gap: 3rem;
width: 100%;
}
.element-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: flex-end;
max-width: 21rem;
width: 100%;
   
   
}

  

.number{
  display: flex;
align-items: flex-end;
width: 100%;
justify-content: center;
}
.big{

  font-family: "Cormorant Garamond", serif;
  color: var(--assent, #C5A55A);
text-align: center;
justify-content: center;
font-size: 4rem;
font-style: normal;
font-weight: 300;
line-height: 4.5rem; /* 112.5% */
}
.small{
color: var(--assent, #C5A55A);
text-align: center;
font-family: "Cormorant Garamond";
font-size: 2rem;
font-style: normal;
font-weight: 300;
line-height: 1.875rem; /* 93.75% */
}
.text{
  color: var(--text-light);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.875rem; /* 125% */
 text-align:left;
 width: 100%;
text-align: center;
}
.section-servis{
display: flex;
background-image:url("../img/bg-section.png") ;
 background-size: cover;
  background-position: center;
height:53rem;
max-width: 1440px;
width: 100%;
margin: 0 auto;  
}
/*----------------------------------------------------------------------------------------*/

/* десктоп */
@media (min-width: 745px) {
  .burger,
  .mobile-menu {
    display: none;
  }
  .header-nav {
    display: flex;
  }

  .banner-adress {
    display: flex;
  }
}

@media (max-width: 900px) {
  .header-nav {
    display: none;
  }

  .container-header-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--bg-dark);
    padding: 1.25rem;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1rem;
    position: relative;
  }

  .banner a {
    display: block;
  }

  .banner-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: auto;
  }

  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem;
    background: none;
    border: none;
    align-self: flex-start;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 10.75rem;
    min-height: 10.625rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
    background-color: var(--bg-dark);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .mobile-menu.active {
    right: 0;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100% !important;
  }

  .burger-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background: none;
    border: none;
  }
  .h1 {
    color: var(--white);
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 7.5rem */
  }

  .wrap-btn {
    display: flex;
    margin-top: 4rem;
    gap: 1.25rem;
    align-items: center;
    flex-direction: column;
  align-items: flex-start;
  }
}

/* мобильный 360px */
@media (max-width: 360px) {
  .banner {
    padding: 1rem;
  }

  .banner-adress {
    display: none;
  }
}
