*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fdfdfd;
  font-family: "Montserrat", sans-serif;
}
svg {
  width: auto;
  height: auto;
}

.link {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}
.header {
  border: none;
}
/* линия */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: var(--assent);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* hover */
.link:hover {
  color: var(--hover);
}

.link:hover::after {
  transform: scaleX(1);
}
.p1 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-light);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.p2 {
  color: var(--text-light);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.5rem; /* 125% */
}
.h1 {
  color: var(--white, #fff);
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.875rem; /* 93.75% */
  display: inline-flex;
  align-items: center;
}
.container-header-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--bg-dark);
}
.banner {
  display: flex;
  padding: 2.5rem 3.75rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg-dark);
}
.banner-adress {
  display: flex;
  width: 32.8125rem;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}
.adress-text {
  color: var(--text-light);
}
.adress,
.phone-icon {
  display: flex;
  gap: 0.75rem;
  align-items: flex-end;
}
.header-nav {
  display: flex;
  padding: 1.25rem 3.75rem;
  justify-content: center;
  align-items: center;
  gap: 40.75rem;
  align-self: stretch;
  border: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  flex: 1 0 0;
}
/* скрываем мобильное меню по умолчанию */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  width: 100%;
  height: 100vh;
  background: var(--bg-dark);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 5rem 2rem 2rem;
   pointer-events: none;
}

.mobile-menu.active {
  pointer-events: auto;
  right: 0;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.burger-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

/* активное состояние */
.mobile-menu.active {
  right: 0;
}

/* крестик */
.burger-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
}

.burger {
  display: none;
}
.main-container {
  display: flex;
  width: 100%;

  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.section-hero {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-height: 100rem;
  height: 100%;

  align-items: center;
  align-self: stretch;
  margin: 0 auto;
  justify-content: center;
  background-image: url("../img/generated-image\ 1.png");
  background-size: cover;
  background-position: center;
}
.teitel-hero {
  display: flex;
  max-width: 1440px;
  width: 100%;
  gap: 6rem;
  align-items: center;
  flex-wrap: wrap;
}
.phone-hero {
  font-size: 34px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: 1rem;
  padding: 3rem 3.75rem;
  max-width: 1440px;
  width: 100%;
  flex: 1;
}

.icon-h1 {
  width: 46px;
  height: 46px;
}

.grup {
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.wrap-btn {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 4rem;
  gap: 1.25rem;
  align-items: flex-start;

  justify-content: flex-start;

  align-self: stretch;
}
.btn {
  display: flex;
  width: 16.75rem;
  height: 40px;
  padding: 0.5rem 1.125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: none;
}
.primary {
  background-color: var(--assent-light);
  color: var(--text-light);
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  font-weight: 600;

  box-shadow: 0 0 8px rgba (178, 255, 247, 0.3);
  text-transform: uppercase;
}
.primary:hover {
  background-color: var(--hover);
  color: var(--text-dark);
}
.second {
  background-color: var(--bg-dark);
  color: var(--assent);
  font-family: "Cormorant Garamond", serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.8rem;
  text-transform: uppercase;
  border: 0.5px solid var(--assent-opacity-35);
}

.section {
  display: flex;
  padding: 1rem 3.75rem;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: stretch;
  gap: 3rem;
  width: 100%;
}
.element-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  max-width: 21rem;
  width: 100%;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big {
  font-family: "Montserrat", sans-serif;
  color: var(--assent-light);
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.5rem; /* 112.5% */
}
.small {
  color: var(--assent-light);
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 93.75% */
}
.text {
  color: var(--text-dark);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 125% */
  text-align: left;
  width: 100%;
  text-align: center;
}
.section-servis {
  display: flex;
  background-image: url("../img/bg");
  background-size: cover;
  background-position: center;
  height: 53rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container-servis {
  display: flex;
  margin: 1rem 3.75rem;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
}
.block-left {
  display: flex;
  flex: 0 auto;
  width: 100%;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.block-right {
  display: flex;
  flex: 0 auto;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
}
.h2 {
  color: var(--assent);
  font-family: "Cormorant Garamond";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.big-sevis {
  color: var(--text-dark);
  font-family: "Cormorant Garamond", serif;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem; /* 74.074% */
}
.small-servis {
  color: var(--assent-light);

  font-family: "Cormorant Garamond", serif;
  font-size: 3.375rem;
  font-style: italic;
  font-weight: 300;
  line-height: 2.5rem; /* 74.074% */
}
.li-item {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  border-bottom: 1px solid rgba(197, 165, 90, 0.35);
  justify-content: space-between;
}
.li-item:hover {
  border-bottom: 1.5px solid var(--assent);
}
.li-numer {
  display: flex;
  flex: 1;
  color: #f0e2c0;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem; /* 74.074% */
  max-width: 5.3rem;
  justify-content: flex-start;
}
.li-numer:hover {
  font-size: 4rem;
  color: var(--assent);
}
.li-teitel {
  display: flex;
  justify-content: flex-end;
  color: var(--white, #fff);
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.25rem; /* 66.667% */
  max-width: 20rem;
  flex: 1;
}
.li-teitel:hover {
  color: var(--assent);
  font-size: 1.65rem;
}
.discription {
  display: flex;
  justify-content: flex-start;
  max-width: 17.6875rem;
  flex: 1;
}

/*----------------------------------------------------------------------------------------*/

/* десктоп */
@media (max-width: 1250px) {
  .teitel-name {
    width: 500px;
    height: 120px;
  }
  .icon-hero {
    width: 32px;
    height: 32px;
  }

  .teitel-hero {
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .header-nav {
    display: none;
  }

  .container-header-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--bg-dark);
    padding: 1.25rem;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1rem;
    position: relative;
  }

  .banner a {
    display: block;
  }

  .banner-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: auto;
  }

  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem;
    background: none;
    border: none;
    align-self: flex-start;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 10.75rem;
    min-height: 10.625rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
    background-color: var(--bg-dark);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .mobile-menu.active {
    right: 0;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100% !important;
  }

  .burger-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background: none;
    border: none;
  }
  .h1 {
    color: var(--white);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    line-height: 120%; /* 7.5rem */
  }

  .wrap-btn {
    display: flex;
    margin-top: 4rem;
    gap: 1.25rem;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .phone-hero {
    font-size: 28px;
  }

.big {
 
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.5rem; /* 112.5% */
}



}

@media (max-width: 745px) {
 
 
 
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 9rem;
  transition: right 0.3s ease;

  pointer-events: none; /* важно */
}

.mobile-menu.active {
  right: 0;
  pointer-events: auto;
}
  .banner-adress {
    display: flex;
  }


  .phone-hero {
    font-size: 24px;
  }
  .big {
 
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.5rem; /* 112.5% */
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: stretch;
  gap: 1rem;
  width: 100%;
}
.section {
 
  padding: 1rem 1rem;


}

}
.icon-h1 {
  width: 24px;
  height: 24px;
}

@media (max-width: 414px) {
  .phone-hero {
    font-size: 22px;
  }
}
/* мобильный 360px */
@media (max-width: 360px) {
  .banner {
    padding: 1rem;
  }

  .banner-adress {
    display: none;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 1rem;
    padding: 1rem 2rem;

    width: 100%;
    flex: 1;
  }
  .phone-hero {
    font-size: 20px;
  }
}
