:root{
    --assent: #017c75;
    --assent-light: #02A49B;
    --assent-darck:#01625c;
     --assent-ligh-opaciti: rgb(2,164,155,0.3) ;
--bg-dark: #06080f;
--text-light: #ebefee;
--text-dark: #06080f;
--hover: #B2FFF7;

--white: #ffffff;
--grey-600: #353736;
--grey-300:  #555857;
}
 :root{

--number-h1: 100px;
--number-h2: 18px;
--number-h3: 30px;
--number-h4: 54px;
--number-h5: 54px;
--number-h6: 24px;
--number-p1: 16px;
--number-p2: 24px;
--number-deco-64: 64px;
--number-deco-32: 32px;

}
